@import "reset.scss";
body {
    font-family: Roboto;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #080808;
    position: relative;
}
.__container {
    padding: 0px 15px 0px 15px;
}

// -----------------------------------------------

.header {
    &_avatar {
    }

    &__container {
        position: absolute;
        width: 100%;
        padding: 25px 50px;
    }
    @media (max-width:518px) {
        &__container {
            padding: 10px 15px;
        }
    }
    &_menu{
        margin-left: 10px;
        display: none;
    }
    
    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__links {
        color: #fff;
        cursor: pointer;
    }
    
    &__avatar {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #ffffff31;
        cursor: pointer;
        &:hover {
            .header_userimg {
                opacity: 1;
            }
        }
    }
    &_userimg {
        width: 25px;
        height: 25px;
        opacity: 0.6;
    }
    &__links-active {
        color: #080808;
        background-color: white;
        border-radius: 20px;
        padding: 4px 14px;
        margin: 0px 15px 0px 25px;
    }

    &__settings {
    }

    &__part {
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff31;

        &_img {
            width: 20px;
            opacity: 0.6;
        }
        &_search {
        }

        &_settings {
            margin-left: 10px;
        }
        &_settings,
        &_search {
            &:hover {
                .header__part_img {
                    opacity: 1;
                }
            }
        }
        
    }
}
@media (max-width:402px) {
    .header_menu {
        display: block;
    }
}
@media (max-width:402px) {
    .header__links {
        display: none;
    }
}