* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
* {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 162.5%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
  font-size: 16px;
  color: #000000;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*  */
body {
  font-family: "Caveat";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #080808;
  position: relative;
}

.__container {
  padding: 0px 15px 0px 15px;
}

.header__container {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 25px 50px;
}
@media (max-width: 518px) {
  .header__container {
    padding: 10px 15px;
  }
}
.header_menu {
  margin-left: 10px;
  display: none;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__links {
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.header__links:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.header__avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1921568627);
  cursor: pointer;
}
.header__avatar:hover .header_userimg {
  opacity: 1;
}
.header_userimg {
  width: 25px;
  height: 25px;
  opacity: 0.6;
}
.header__links-active {
  color: #080808;
  background-color: white;
  border-radius: 20px;
  padding: 4px 14px;
  margin: 0px 15px 0px 25px;
}
.header__settings {
  display: flex;
}
.header__part {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1921568627);
}
.header__part_img {
  width: 20px;
  opacity: 0.6;
}
.header__part_search {
  margin-left: 20px;
}
.header__part_settings {
  margin-left: 10px;
}
.header__part_settings:hover .header__part_img, .header__part_search:hover .header__part_img {
  opacity: 1;
}

@media (max-width: 402px) {
  .header_menu {
    display: block;
  }
}
@media (max-width: 402px) {
  .header__links {
    display: none;
  }
}
.headerSettings {
  z-index: 1000;
  position: absolute;
  font-size: 24px;
  padding: 10px;
  width: 150px;
  border: 1px solid #ffffff;
  color: #ffffff;
  right: 20px;
  top: 80px;
  border-radius: 10px;
  filter: blur(100);
}
.headerSettings_btn {
  background: transparent;
  width: 30px;
}
.headerSettings_btn:hover {
  background-color: #080808;
  color: #fff;
  border: 1px solid #ffffff;
}
.headerSettings_theme {
  margin-top: 10px;
}

.language-wrap {
  display: flex;
  justify-content: space-between;
  width: 60px;
  background-color: #fff;
}

.theme-wrap {
  width: 60px;
  border: 1px solid #000000;
  border-radius: 20px;
  display: flex;
  padding: 5px;
  cursor: pointer;
}

.theme-end {
  border: 1px solid #ffffff;
  justify-content: end;
}

.theme-wrap_light {
  background-color: #fff;
}

.theme {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #000000;
  border-radius: 50%;
  animation-name: trans;
}

.theme_light {
  background-color: rgba(211, 209, 209, 0.3764705882);
}

.bigBanner {
  position: relative;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  margin-bottom: -90px;
}
.bigBanner:hover .bigBanner_ibg {
  transition: 1s;
  filter: brightness(100%);
}
.bigBanner_ibg {
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  transition: 1s;
}
.bigBanner_title {
  font-size: 80px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Chicle;
  margin-bottom: 50px;
  line-height: 100%;
  opacity: 0.9;
}
.bigBanner_btn {
  color: #080808;
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 16px;
  transition: 0.5s;
}
.bigBanner_btn:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
}
.bigBanner_btn-black {
  margin-left: 15px;
  background-color: rgba(8, 8, 8, 0.7529411765);
  color: white;
}
.bigBanner_btn-black:hover {
  transition: 0.5s;
  background-color: #080808;
}
.bigBanner__container {
  display: flex;
  align-items: center;
  background: #080808;
  position: relative;
  width: 100%;
  height: 80vh;
  position: relative;
}
.bigBanner__text-wrapper {
  position: relative;
  z-index: 10;
  padding-left: 10vw;
}

@media (max-width: 530px) {
  .bigBanner__text-wrapper {
    padding-left: 10px;
  }
  .bigBanner_title {
    max-width: 200px;
    font-size: 60px;
  }
}
.title-wrapper {
  display: flex;
  justify-content: center;
}

.pageSection__title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
  opacity: 0.8;
  font-weight: bold;
  line-height: 50px;
  text-shadow: 1px 1px 30px white;
  position: relative;
}
.pageSection__horror-title {
  position: relative;
  text-shadow: 1px 1px 30px rgb(218, 215, 29);
  width: 270px;
  align-items: center;
}
.pageSection__horror-title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: -10px;
  background: url(/img/index/collections/jack-lanterns-autumn-svgrepo-com.svg);
  background-size: contain;
}
.pageSection__collection-better {
  margin-bottom: 20px;
}

.collection-better {
  display: flex;
  justify-content: center;
}
.collection-better__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 220px;
  background-color: rgba(31, 31, 31, 0.8274509804);
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  margin-left: 15px;
  position: relative;
  filter: brightness(70%);
  cursor: pointer;
  opacity: 0.95;
  transition: 0.5s ease-in-out;
  transform: translateZ(0);
}
.collection-better__card:hover {
  transition: 0.5s;
  filter: brightness(100%);
  opacity: 1;
  transform: translateY(-20px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.collection-better_ibg {
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.collection-better_film-name {
  position: relative;
  z-index: 10;
  padding: 20px;
  font-family: Chicle;
  font-size: 44px;
  line-height: 113.6363636364%;
  color: #fff;
}
.collection-better_text {
  font-family: "Caveat";
  position: relative;
  z-index: 10;
  font-size: 18px;
  padding: 0px 20px 10px 20px;
}

@media (max-width: 1023px) {
  .collection-better_film-name {
    font-size: 24px;
  }
  .collection-better_text {
    font-size: 16px;
  }
}
@media (max-width: 841px) {
  .collection-better {
    flex-wrap: wrap;
  }
  .collection-better__card {
    margin: 0 10px;
    margin-bottom: 10px;
  }
  .pageSection__title {
    font-size: 40px;
  }
}
.bgvideo {
  position: fixed;
  right: 0;
  bottom: 10;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.pageSection__container {
  position: relative;
  z-index: 100;
  margin-top: 60px;
}
.pageSection__cards {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  transition: transform 0.5s ease;
}
.pageSection__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 286px;
  height: 220px;
  background-color: rgba(31, 31, 31, 0.8274509804);
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  margin-left: 15px;
  position: relative;
  overflow: hidden;
  filter: brightness(70%);
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.95;
}
.pageSection__card:hover {
  transition: 0.5s;
  transition: 1s;
  filter: brightness(100%);
  opacity: 1;
}
.pageSection__btn {
  position: absolute;
  height: 220px;
  width: 50px;
  background-color: rgba(8, 8, 8, 0.9098039216);
  border-radius: 20px 0px 0px 20px;
  color: white;
  opacity: 0;
  transition: 0.5s;
  font-size: 40px;
  z-index: 100;
}
.pageSection__btn:hover {
  transition: 0.5s;
  opacity: 1;
}
.pageSection__btn-back {
  left: 0;
  top: 0;
}
.pageSection__btn-next {
  right: 0;
  top: 0;
}

.pageSection__collection-better {
  position: relative;
}

.title_dark {
  color: #080808;
}

.hidden {
  display: none;
}

.hr {
  margin-top: 60px;
  width: 100%;
  border: 1px solid #505050;
}

.dot {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 1000;
  background: url(/img/index/leaf-autumn-fall-svgrepo-com.svg);
  background-size: 100% 100%;
}

.module-movie {
  position: relative;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  border-radius: 15px;
  color: white;
  transition: 0.8s ease 0s;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.9920343137) 0%, rgba(86, 24, 89, 0.975227591) 39%, rgba(98, 0, 51, 0.9696253501) 65%, rgb(2, 0, 36) 100%);
}
.module-movie__btn-close {
  position: absolute;
  z-index: 1000;
  top: 20px;
  font-size: 50px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: transparent;
}
.module-movie__btn-close img {
  width: 100%;
}
.module-movie__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.module-movie__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 40px;
}
.module-movie__title {
  text-align: center;
  font-size: 35px;
}
.module-movie__list {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.module-movie__link {
  color: white;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 24px;
  margin-right: 20px;
  transition: 0.3s ease 0s;
}
.module-movie__link-targ {
  background-color: white;
  color: #821176;
}
.module-movie__link-targ:hover {
  transition: 0.3s ease 0s;
  color: white;
  background: transparent;
}
.module-movie__link-about:hover {
  transition: 0.3s ease 0s;
  background-color: white;
  color: #821176;
}
.module-movie__img {
  width: 20%;
  padding: 20px;
}

.modal--show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */