* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
* {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 162.5%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
  font-size: 16px;
  color: #000000;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*  */
body {
  font-family: "Caveat";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #080808;
  position: relative;
}

.__container {
  padding: 0px 15px 0px 15px;
}

.header__container {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 25px 50px;
}
@media (max-width: 518px) {
  .header__container {
    padding: 10px 15px;
  }
}
.header_menu {
  margin-left: 10px;
  display: none;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__links {
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.header__links:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.header__avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1921568627);
  cursor: pointer;
}
.header__avatar:hover .header_userimg {
  opacity: 1;
}
.header_userimg {
  width: 25px;
  height: 25px;
  opacity: 0.6;
}
.header__links-active {
  color: #080808;
  background-color: white;
  border-radius: 20px;
  padding: 4px 14px;
  margin: 0px 15px 0px 25px;
}
.header__settings {
  display: flex;
}
.header__part {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1921568627);
}
.header__part_img {
  width: 20px;
  opacity: 0.6;
}
.header__part_search {
  margin-left: 20px;
}
.header__part_settings {
  margin-left: 10px;
}
.header__part_settings:hover .header__part_img, .header__part_search:hover .header__part_img {
  opacity: 1;
}

@media (max-width: 402px) {
  .header_menu {
    display: block;
  }
}
@media (max-width: 402px) {
  .header__links {
    display: none;
  }
}
.bigBanner {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  margin-bottom: -90px;
}
.bigBanner:hover .bigBanner_ibg {
  transition: 1s;
  filter: brightness(100%);
}
.bigBanner_ibg {
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: auto;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  transition: 1s;
}
.bigBanner_title {
  font-size: 80px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Chicle;
  margin-bottom: 50px;
  line-height: 100%;
  opacity: 0.9;
}
.bigBanner_btn {
  color: #080808;
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 16px;
  transition: 0.5s;
}
.bigBanner_btn:hover {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
}
.bigBanner_btn-black {
  margin-left: 15px;
  background-color: rgba(8, 8, 8, 0.7529411765);
  color: white;
}
.bigBanner_btn-black:hover {
  transition: 0.5s;
  background-color: #080808;
}
.bigBanner__container {
  display: flex;
  align-items: center;
  background: #080808;
  position: relative;
  width: 100%;
  height: 80vh;
}
.bigBanner__text-wrapper {
  position: relative;
  z-index: 10;
  padding-left: 10vw;
}

@media (max-width: 530px) {
  .bigBanner__text-wrapper {
    padding-left: 10px;
  }
  .bigBanner_title {
    max-width: 200px;
    font-size: 60px;
  }
}
.pageSection__title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
  opacity: 0.8;
  font-weight: bold;
  line-height: 50px;
}
.collection-better {
  display: flex;
  justify-content: center;
}
.collection-better__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 220px;
  background-color: rgba(31, 31, 31, 0.8274509804);
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  margin-left: 15px;
  position: relative;
  filter: brightness(60%);
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.95;
}
.collection-better__card:hover {
  transition: 0.5s;
  transition: 1s;
  filter: brightness(100%);
  opacity: 1;
}
.collection-better_ibg {
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.collection-better_film-name {
  position: relative;
  z-index: 10;
  padding: 20px;
  font-family: Chicle;
  font-size: 44px;
  line-height: 113.6363636364%;
}
.collection-better_text {
  font-family: "Caveat";
  position: relative;
  z-index: 10;
  font-size: 18px;
  padding: 0px 20px 10px 20px;
}

@media (max-width: 1023px) {
  .collection-better_film-name {
    font-size: 24px;
  }
  .collection-better_text {
    font-size: 16px;
  }
}
@media (max-width: 719px) {
  .collection-better {
    flex-wrap: wrap;
  }
  .collection-better__card {
    margin: 0 10px;
    margin-bottom: 10px;
  }
  .pageSection__title {
    font-size: 40px;
  }
}
.pageSection__container {
  position: relative;
  z-index: 100;
}
.pageSection__cards {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  transition: transform 0.5s ease;
}
.pageSection__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 286px;
  height: 220px;
  background-color: rgba(31, 31, 31, 0.8274509804);
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  margin-left: 15px;
  position: relative;
  overflow: hidden;
  filter: brightness(70%);
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.95;
}
.pageSection__card:hover {
  transition: 0.5s;
  transition: 1s;
  filter: brightness(100%);
  opacity: 1;
}
.pageSection__btn {
  position: absolute;
  height: 220px;
  width: 50px;
  background-color: rgba(8, 8, 8, 0.9098039216);
  border-radius: 20px 0px 0px 20px;
  color: white;
  opacity: 0;
  transition: 0.5s;
  font-size: 40px;
  z-index: 100;
}
.pageSection__btn:hover {
  transition: 0.5s;
  opacity: 1;
}
.pageSection__btn-back {
  left: 0;
  top: 0;
}
.pageSection__btn-next {
  right: 0;
  top: 0;
}

.pageSection__collection-better {
  position: relative;
}/*# sourceMappingURL=style.css.map */