.card-wrapper {
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-list .card-item {
    perspective: 1000px;
    list-style: none;
    position: relative;
    filter: brightness(70%);
        transition: 0.5s;
        opacity: 0.95;
        
}
.card-list .card-item:hover {
    transition: 0.5s;
    transition: 1s;
    filter: brightness(100%);
    opacity: 1;
}
.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #ffffff15;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}
.card-list .card-item .card-link:active {
    cursor: grabbing;
}
.card-item:hover .card-link {
    transform:scale(0.9) rotateY(-25deg) rotateX(30deg);
 
}
.card-list .card-link .card-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-wrapper .swiper-pagination-bullet {
    height: 9px;
    width: 9px;
    opacity: 0.5;
    background: #ffffff91;
}
.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}
.card-wrapper .swiper-slide-button {
    color: #ffffff91;
    margin-top: -35px;
}
.card-text{
position: absolute;
z-index: 100;
top: 45%;
text-shadow: 1px 1px 10px black
}
@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button {
        display: none;
    }
}
