@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
* {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 162.5%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
  font-size: 16px;
  color: #000000;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*  */
body {
  font-family: Roboto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: url("/img/signUp/signUp-bg-mp.mp4");
  background-size: cover;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}

.__container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 15px 0px 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.lang {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.lang-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(253, 253, 253, 0.9058823529);
}

.login-container {
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
  padding: 60px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Тень */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Размытие фона */
  width: 420px;
  animation: fadeIn 1s ease-in-out;
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}
.login-container_title {
  text-align: center;
  padding-bottom: 20px;
}
.login-container_btn {
  width: 100%;
  padding: 10px;
  background-color: rgba(123, 191, 254, 0.7607843137); /* Цвет кнопки */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}
.login-container_btn:hover {
  background-color: rgba(109, 182, 250, 0.8980392157); /* Цвет при наведении */
}
.login-container input[type=text], .login-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 16px;
  outline: none;
}
.login-container input[type=text] input[type=text]::-moz-placeholder, .login-container input[type=text] input[type=password]::-moz-placeholder, .login-container input[type=password] input[type=text]::-moz-placeholder, .login-container input[type=password] input[type=password]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.login-container input[type=text] input[type=text]::placeholder, .login-container input[type=text] input[type=password]::placeholder, .login-container input[type=password] input[type=text]::placeholder, .login-container input[type=password] input[type=password]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.login-container label {
  text-align: left;
  font-size: 18px;
}
.login-container_link {
  color: rgba(253, 253, 253, 0.7882352941);
  font-size: 14px;
}
.login-container_link:hover {
  text-decoration: underline;
  color: #fff;
}/*# sourceMappingURL=sign-style.css.map */