@import "../reset.scss";

body {
    font-family: "Caveat";
    background-color: #080808;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #080808;
    position: relative;
}
.__container {
    padding: 0px 15px 0px 15px;
}

// -----------------------------------------------
.header {
    &_avatar {
    }

    &__container {
        position: absolute;
        z-index: 100;
        width: 100%;
        padding: 25px 50px;
    }
    @media (max-width: 518px) {
        &__container {
            padding: 10px 15px;
        }
    }
    &_menu {
        margin-left: 10px;
        display: none;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__links {
        color: #fff;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            transition: 0.5s;
            opacity: 0.8;
        }
    }

    &__avatar {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #ffffff31;
        cursor: pointer;
        &:hover {
            .header_userimg {
                opacity: 1;
            }
        }
    }
    &_userimg {
        width: 25px;
        height: 25px;
        opacity: 0.6;
    }
    &__links-active {
        color: #080808;
        background-color: white;
        border-radius: 20px;
        padding: 4px 14px;
        margin: 0px 15px 0px 25px;
    }

    &__settings {
        display: flex;
    }

    &__part {

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff31;

        &_img {
            width: 20px;
            opacity: 0.6;
        }
        &_search {
            margin-left: 20px;
        }
        &_search-submit{
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            & img{
                width: 15px;
            }
        }
        &_search-form{
            background-color: #ffffff31;
            color: #fff;
            height: 40px;
            border-radius: 20px;
            width: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 10px;
            margin-left: 20px;
            cursor: pointer;
            transition: 0.5s ease;
        }
        &_search-form-active{
            width: 400px;
            transition: 0.5s ease;
        }
        @media (max-width: 768px) {
            &_search-form-active{
                width: 250px;
    
            }
        }
        @media (max-width: 630px) {
            &_search-form-active{
                width: 170px;
    
            }
        }
        @media (max-width: 548px) {
            &_search-form-active{
                width: 130px;
                margin-left: 10px;
            }
        }
        &_search-input{
            color: white;
            background: transparent;
            width: 80%;
            margin-left: 10px;
            &::placeholder{
                color: rgb(226, 226, 226);
            }
        }
        &_search-empty-input{
            background: transparent;
            width: 15px;
            height: 15px;
            & img{
                width: 100%;
                height: 100%;
            }
        }
        
        &_settings {
            margin-left: 10px;
        }
        &_settings,
        &_search {
            &:hover {
                .header__part_img {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 402px) {
    .header_menu {
        display: block;
    }
}
@media (max-width: 402px) {
    .header__links {
        display: none;
    }
}
.headerSettings {
    z-index: 1000;
    position: absolute;
    font-size: 24px;
    padding: 10px;
    width: 150px;
    border: 1px solid #ffffff;
    color: #ffffff;
    right: 20px;
    top: 80px;
    border-radius: 10px;
    filter: blur(100);
    &_lang {
    }
    &_btn {
        background: transparent;
        width: 30px;
        &:hover {
            background-color: #080808;
            color: #fff;
            border: 1px solid #ffffff;
        }
    }
    &_theme {
        margin-top: 10px;
    }
}
.language-wrap {
    display: flex;
    justify-content: space-between;
    width: 60px;
    background-color: #fff;
}
.theme-wrap {
    width: 60px;
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;

    padding: 5px;
    cursor: pointer;
}
.theme-end {
    border: 1px solid #ffffff;
    justify-content: end;
}
.theme-wrap_light {
    background-color: #fff;
}
.theme {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    animation-name: trans;
}
.theme_light {
    background-color: #d3d1d160;
}

//---------------------------------------------

//

.film {
    margin-top: 250px;
    min-width: 100%;
    &__container {
    }

    &__main-block {
        display: flex;
    }
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.fmb-main-info-wrapper {
    display: flex;
    justify-content: space-between;
}
.fmb-main-info-container {
    max-width: 200px;
}
.film-main-block {
    color: white;

    &__poster-wrap {
        display: flex;
        flex-direction: column;
        perspective: 1000px;
    }

    &__poster-container {
        width: 400px;
        height: 600px;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        &:hover {
            transition: transform 0.1s;
            transform: scale(0.8) rotateY(10deg) rotateX(-10deg);
        }
        &:active {
            transition: transform 0.1s;
            transform: scale(0.8) rotateY(180deg);
        }
    }
    &__poster {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    &__btn-favorite {
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        border-radius: 20px;
        background-color: #ffffff1c;
        box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.278);
        color: #d2cece;
        transition: 0.5s;
        &:hover {
            transition: 0.5s;
            box-shadow: 0px 0px 10px rgb(255, 255, 255);
        }
        &:active {
            transition: 0.5s;
            transform: scale(0.95);
        }
    }

    &__main-info {
        padding: 0px 30px;
        position: relative;
    }

    &__title {
        font-size: 36px;
        line-height: 46px;
    }

    &__subtitle {
        font-size: 20px;
    }

    &__genres {
        color: #de8f1a;
    }

    &__descriptipn-block {
    }
}
.fmb-main-info {
    &__info {
    }

    &__list {
    }

    &__item span {
        margin-left: 10px;
    }
    &__links {
        display: flex;
        justify-content: center;
        position: relative;
        top: -120px;
    }
    &__link {
        background-color: #de8f1a;
        box-shadow: inset 0px 0px 5px #000000;
    }
}
.descriptipn-block {
    margin-top: -60px;
    &__title {
        text-align: center;
        margin-bottom: 10px;
    }

    &__text {
    }
}
.btn-back {
    position: absolute;
    right: 0;
    background-color: #ffffff1c;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.5s ease;
    color: #d2cece;
    &:hover {
        transition: 0.5s ease;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.27);
    }
}
.hr-frames {
    width: 100%;
    height: 1px;

    background-color: #ffffff38;
}

.film {
    &__frames-container {
    }
}
.frames-container {
    overflow: hidden;
    &__list {
        margin-top: 50px;
        display: flex;
        color: #ffffffa7;
        font-size: 20px;
      
    }

    &__item {
        margin-right: 10px;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }

    &__photo-list {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        transition: transform 0.5s ease;
    }
    &__photo-container {
        position: relative;
        overflow: hidden;
    }
    &__btn {
        position: absolute;
        top: 0;
        height: 100%;
        width: 5%;
        background-color: #00000079;
        color: white;
        z-index: 1000;
        opacity: 0.2;
        transition: 0.8s ease;
        &:hover {
            transition: 0.8s ease;
            opacity: 1;
        }
    }
    &__btn-next {
        right: 0;
    }
    &__photo-item {
        min-width: 280px;
        height: 180px;
        margin-right: 20px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__vido-item{
        min-width: 280px;
        height: 180px;
        margin-right: 20px;
    }

    &__video-list {
       
    }
}
.hr-frames {
}
.page-error {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    &__text,
    &__title,
    &__list {
        z-index: 1;
    }
    &__title {
        font-size: 66px;
        line-height: 60px;

        color: #ff0000ce;
        text-shadow: 0px 0px 20px red;
    }
    &__text {
        font-size: 32px;
        line-height: 60px;
        & span {
            color: #ff0000ce;
            text-shadow: 0px 0px 20px red;
        }
    }
    &__list {
        font-size: 30px;
        line-height: 40px;
    }
    &__link {
        text-shadow: 0px 0px 20px rgb(145, 10, 73);
        color: rgb(145, 10, 73);
        &:hover {
            opacity: 0.8;
        }
    }
    &__img {
        position: absolute;
        opacity: 0.1;
        filter: blur(5px);
    }
}

.hidden{
    display: none;
}